.redefinir-container{
    display: flex;
}
.geo-form{
    height: 100vh;
}

.geo-form img{
    width: auto;
    height: 100%;
    display: block;
    margin: 0 auto;
}
.front-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.logo{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logo img{
    width: 50%;
}
.logo p {
    margin:20px;
    font-weight: bold;
    font-size: 15px;
}

.remember-password{
    margin: 30px;
    padding: 30px;
    border: 5px solid #DC782A;
    width: 22.8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.remember-password p {
    font-size: 14px;
    margin: 0 30px;
    text-align: center;
}

/*Formulário*/
.custom-button{
    background-color: #DC782A;
    border: #DC782A;
    border-radius: 20px;
} 
.form-email{
    display: flex;
    flex-direction: column;
    margin: 15px;
    gap: 15px;
}

.email-container p, h3{
    color: #000000;
}

.redefinir-container h3, p{
   color: #000000;
}

/*Responsividade*/

@media(max-width: 950px){
.geo-form{
    display: none;
}
}
@media(max-width: 768px){
    .remember-password{
      width: 80%;
    }  
    .logo img{
        width: 80%;
    }
  }
