
.container-inicial{
    background-color: #E9E9E9;
    height: 80vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    
}
.btn-card{
    display: block;
    background-color: #DC782A;
    text-align: center;
    text-decoration: none;
    color: #fff;
    width: 100%;
}

.btn-card:hover{
    background-color: #8c4c1b;
}

.card{ 
    background-color: #E9E9E9;
    margin: 10px;
    border-radius: 15px;
}

.card-icon{
    font-size: 10rem; 
    text-align: center;
    color: #DC782A;
}

@media(max-width: 650px) {
    .card-icon{
        font-size: 4rem;
    }
}