
.container{
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   margin: 50px;
   padding: 50px;
    
}
.btn{
    background-color: #DC782A;
    width: 100%;
    border-color: transparent;
}

.btn:hover{
    background-color: #8c4c1b;
}

.card{ 
    background-color: #E9E9E9;
    margin: 10px;
    border-radius: 15px;
    flex-basis: calc(25% - 20px);

}

.card-icon{
    font-size: 10rem;
    text-align: center;
}

@media(max-width: 850px) {
    .card-icon{
        font-size: 4rem;
    }
}