.btn-perfil {
    background-color: #DC782A;
    width: 100px;
    border: none;
    width: 6rem;
    border-radius: 15px;
}

.btn-perfil:hover {
    background-color: #c2651e;
}

.cont-perfil {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.user-bg{
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    border: 2px solid  #c2651e;
    position: relative;
}

i.user-icon{
    text-align: center;
    position: absolute;
    left: 20%;
    top: 15%;
    font-size: 4rem;
    color: #c2651e;
}


.user-photo-profile{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.custom-checkbox input[type="checkbox"] {
    background-color: #807F7F;
    border-color: #0000;
}

.custom-checkbox input[type="checkbox"]:checked {
    background-color: #c2651e;
    border-color: #0000;
}



@media(max-width: 850px){
    .cont-perfil{
        flex-direction: column;
        padding: 2rem;
    }
}