.icons {
    font-size: 1.5rem;
    cursor: pointer;
    letter-spacing: 0.5rem;
}

footer a {
    color: #DC782A;
    padding: 4px;
}

footer {
    background-color: #D7D7D7;
    font-size: 1rem;
    border-top: 2px solid  #DC782A;
    
}

.nome-plataforma {
    font-weight: bold;
}

