* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

.container {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #EDECEC;
}

.text-container {
    margin-left: 50px;
    padding: 50px;
    text-align: center;
}

.dot {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    position: absolute;
    left: 0;
}

.dot.orange-dot {
    background-color: #DC782A;
}

.dot.green-dot {
    background-color: #006A0B;
}

.dot.red-dot {
    background-color: #C90000;
}

.calendar-info {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 4px;
    margin-top: 5px;
    position: relative;
}

.calendar-info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
    font-size: 1rem;
    transform: translateY(90%);
}

.calendar-info p {
    margin: 0;
    transform: translateX(30%);
    position: relative; 
}


@media(max-width: 550px) {
    
}

@media(max-width: 750px) {
    .calendar-info-container {
        transform: translateY(-200%);
        
    }
}

@media(max-width: 980px) {
    .container{
        padding: 4rem 0;
        margin: 0 auto;
       flex-direction: column;
       width: 100%;
    }

    .calendar-info-container {
        transform: translateY(-100%);
        flex-direction: row;
        gap: 2rem;
    }
}